#main, #invite, #countdown, #aturcara {
    width: auto;
    max-width:390px;
    height: 600px;
    margin: 20px auto;
    border: 2px solid goldenrod;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

#doa, #gambar, #penutup, #ucapan {
    width: auto;
    max-width:390px;
    height: 400px;
    margin: 20px auto;
    border: 2px solid goldenrod;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

#main {
    background-image: url("../image/main.png");
    background-size: cover;
    background-position: -20px -5px;
}

.main-text {
    width: 100%;
    height: 50%;
    margin: 120px auto auto auto;
    font-family: glacial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-date {
    display: flex;
    height: 20%;
    width: 70%;
    justify-content: space-between;
    margin: 20px auto;
    color: white;
}

.day, .date, .time {
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-name {
    font-size: 2em;
    font-family: halimun, sans-serif;
    margin: 5px auto 10px auto;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-place {
    font-size: 1.2em;
    font-family: halimun, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#invite {
    background-image: url("../image/invite.png");
    background-size: cover;
    background-position: -20px 1px;
}

.invite-text {
    width: 100%;
    height: auto;
    margin: auto;
    font-family: glacial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
}

.partner {
    width: 90%;
    height: 35%;
    background-color: black;
    border: 1px solid goldenrod;
    border-radius: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 5px 1px grey;
    padding: 10px;
    color: whitesmoke;
}

#countdown {
    background-image: url("../image/countdown.png");
    background-size: cover;
    background-position: -19px;
}

.countdown-text {
    width: 100%;
    height: auto;
    font-family: glacial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.icon {
    margin-top: 20px;
}

.countdown-clock {
    width: 90%;
    height: 10%;
    background-color: black;
    border: 1px solid goldenrod;
    color: whitesmoke;
    border-radius: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 3px 5px 1px grey;
    padding: 10px 50px;
    font-family: glacial-bold, sans-serif;
    justify-content: space-between;
}

#doa {
    background-image: url("../image/doa.png");
    background-size: cover;
    background-position: -5px;
    justify-content: center;
}

.doa-text {
    width: 70%;
    height: auto;
    font-family: glacial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
    overflow-y: scroll;
}

#aturcara {
    background-image: url("../image/aturcara.png");
    background-size: cover;
    background-position: -15px;
    justify-content: center;
}

.aturcara-text {
    width: 80%;
    height: 70%;
    font-family: glacial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.title {
    width: 90%;
    height: 15%;
    font-family: glacial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 10px auto 0px auto;
    padding: 10px;
}

.list-event {
    width: 90%;
    border-left: 3px solid goldenrod;
}


.list {
    margin: 20px auto;
    padding: 10px
}

#gambar {
    background-image: url("../image/gambar.png");
    background-size: cover;
    background-position: -15px;
    justify-content: center;
}

.gambar {
    width: 90%;
    height: 70%;
    overflow-y: scroll;
}

.gambar img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-right: 20px;
}

#ucapan {
    background-image: url("../image/gambar.png");
    background-size: cover;
    background-position: -15px;
    justify-content: center;
}

.ucapan-list {
    width: 70%;
    height: auto;
    font-family: glacial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
    overflow-y: scroll;
    border: 1px solid black;
}

#penutup {
    background-image: url("../image/penutup.png");
    background-size: cover;
    background-position: -15px;
    justify-content: center;
}

.penutup-text {
    width: 70%;
    height: auto;
    font-family: glacial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.penutup-text p {
    text-align: center;
}
